<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<h1>Collections <small><%= @collections.total_length %> total</small></h1>

<ul>
  <% @collections.each do |collection| %>
    <li class="clearfix">
      <%= link_to collection do %>
        <%= image_tag('', width: 100, height: 100) %>
      <% end %>
      <span class="title">
        <%= link_to collection.title, collection %>
        <small><%= pluralize(collection.num_items, 'item') %></small>
      </span>
      <br>
      <span class="description">
        <%= truncate(collection.triple('description').to_s, length: 400) %>
      </span>
    </li>
  <% end %>
</ul>

<%= paginate(@collections, @limit, @current_page) %>

<% if Rails.env.development? %>
  <%= render partial: 'shared/code_panel',
             locals: { title: 'Solr Query',
                       body: link_to(@collections.solr_request[:uri],
                                     @collections.solr_request[:uri].to_s,
                                     target: '_blank') } %>
<% end %>
