<% provide :title, 'URI Prefixes' %>
<% provide :body_id, 'uri_prefixes' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">URI Prefixes</li>
</ol>

<div class="pull-right">
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#kq-add-prefix-modal">Add Prefix</button>
</div>

<h1>URI Prefixes</h1>

<%= form_tag do %>
  <table class="table table-striped kq-prefixes">
    <thead>
      <th style="width:15%">Prefix</th>
      <th>URI</th>
      <th style="width:1%"></th>
    </thead>
    <tbody>
      <% @prefixes.each do |prefix| %>
        <tr>
          <td><%= prefix.prefix %></td>
          <td><%= prefix.uri %></td>
          <td>
            <%= link_to admin_uri_prefix_path(prefix), method: :delete,
                        class: 'btn btn-sm btn-danger' do %>
              &minus;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="modal fade" id="kq-add-prefix-modal" tabindex="-1" role="dialog"
     aria-labelledby="kq-add-prefix-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Prefix</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'create' %>
      </div>
    </div>
  </div>
</div>
