<% provide :title, 'Items' %>
<% provide :body_id, 'items_index' %>
<% provide :active_nav, 'items' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Items</li>
</ol>
<!--
<div class="btn-group pull-right">
  <%= link_to new_admin_repository_item_path, class: 'btn btn-default' do %>
    <i class="fa fa-cube"></i> New Item
  <% end %>
</div>
-->
<h1>Items <small><%= @items.total_length %> total</small></h1>

<div class="panel panel-default kq-search">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <%= form_tag({controller: 'admin/items', action: 'search'}, {method: :post}) do %>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default kq-triples">
            <div class="panel-heading">
              <h4 class="panel-title">Triples</h4>
            </div>
            <div class="panel-body">
              <div class="form-group form-inline">
                <%= select_tag 'triples[]', options_for_select(@predicates_for_select),
                               class: 'form-control' %>
                <%= text_field_tag 'terms[]', '', placeholder: 'Search Term', class: 'form-control' %>
                <button type="button" class="btn btn-xs btn-danger kq-remove-triple">&minus;</button>
              </div>
              <button type="button" class="btn btn-xs btn-success kq-add-triple">&plus; Add Triple</button>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default kq-collections">
            <div class="panel-heading">
              <h4 class="panel-title">Collections
                <button type="button" class="btn btn-xs btn-default kq-check-all">Check All</button>
                <button type="button" class="btn btn-xs btn-default kq-uncheck-all">Uncheck All</button>
              </h4>
            </div>
            <div class="panel-body">
              <ol>
                <% @collections.each do |collection| %>
                  <li>
                    <div class="checkbox">
                      <label><%= check_box_tag('keys[]', collection.key, checked: true) %><%= collection.title %></label>
                    </div>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" value="Filter" class="btn btn-primary pull-right">
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Showing <%= @start + 1 %>&ndash;<%= @start + @num_results_shown %> of
    <%= @items.total_length %> items
  </div>
</div>
<div class="kq-list-results">
  <%= items_as_list(@items, @start, link_to_admin: true,
                    show_collections: true,
                    show_add_to_favorites_buttons: false,
                    show_description: false,
                    show_remove_from_favorites_buttons: false) %>
</div>

<div class="text-center">
  <%= paginate(@items, @limit, @current_page) %>
</div>
