<!DOCTYPE html>
<html>
  <head>
    <title>Kumquat Control Panel | <%= yield(:title) %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin/application' %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= content_for :head %>
  </head>

  <body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
        <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

    <%= render 'layouts/admin/header' %>

    <div class="container-fluid">
      <% flash.each do |type, message| %>
        <div class="kq-flash alert alert-dismissable <%= bootstrap_class_for(type) %>">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">&times;</button>
          <%= message %>
        </div>
      <% end %>

      <div id="kq-page-content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
