<% provide :title, 'RDF Predicates' %>
<% provide :body_id, 'rdf_predicates' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">RDF Predicates</li>
</ol>

<h1>RDF Predicates</h1>

<div class="alert alert-info">
  <ul>
    <li>Predicate labels will appear in place of their corresponding URI in
      public views.</li>
    <li>Labels can be overridden on a per-collection basis.</li>
    <li>Predicates that do not appear in this list can be used in item
      descriptions, but will appear as prefixed URI last path components (if
      a prefix is known) or full URIs in public views.</li>
  </ul>
</div>

<%= form_tag do %>
  <table class="table table-striped">
    <thead>
      <th>Predicate URI</th>
      <th>Label</th>
    </thead>
    <tbody>
      <% @predicates.each do |predicate| %>
        <tr>
          <td><%= predicate.uri %></td>
          <td><%= text_field_tag "predicates[#{predicate.id}][label]",
                                 predicate.label, class: 'form-control' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag('Save Changes', class: 'btn btn-primary') %>
<% end %>
