<% provide :title, 'RDF Predicates' %>
<% provide :body_id, 'rdf_predicates' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">RDF Predicates</li>
</ol>

<div class="pull-right">
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#kq-add-predicate-modal">Add Predicate</button>
</div>

<h1>RDF Predicates</h1>

<div class="alert alert-info">
  <ul>
    <li>Predicate labels will appear in place of their corresponding URI in
      public views.</li>
    <li>Labels can be overridden on a per-collection basis.</li>
    <li>Predicates that do not appear in this list can be used in item
      descriptions, but will appear as prefixed URI last path components (if
      a prefix is known) or full URIs in public views.</li>
  </ul>
</div>

<%= form_tag do %>
  <table class="table table-striped kq-predicates">
    <thead>
      <th>URI</th>
      <th>Label</th>
      <th></th>
    </thead>
    <tbody>
      <% @predicates.each do |predicate| %>
        <tr>
          <td><%= predicate.uri %></td>
          <td><%= predicate.label %></td>
          <td>
            <%= link_to admin_rdf_predicate_path(predicate), method: :delete,
                        class: 'btn btn-sm btn-danger' do %>
              &minus;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="modal fade" id="kq-add-predicate-modal" tabindex="-1" role="dialog"
     aria-labelledby="kq-add-predicate-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="kq-add-predicate-modal-label">Add Predicate</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'create' %>
      </div>
    </div>
  </div>
</div>
