<% provide :title, "#{@collection.title}: RDF Predicates" %>
<% provide :body_id, 'collections_rdf_predicates' %>
<% provide :active_nav, 'collections' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_repository_collections_path %></li>
  <li><%= link_to truncate(@collection.title, length: 50),
                  admin_repository_collection_path(@collection) %></li>
  <li class="active">RDF Predicates</li>
</ol>

<h1><%= @collection.title %></h1>
<h2>RDF Predicates</h2>

<div class="alert alert-info">
  <ul>
    <li>Custom labels below will apply to this collection only. If blank, the
    default label will be used.</li>
    <li>To add or remove predicates or edit default labels, go to
      the global <%= link_to 'RDF Predicates', admin_rdf_predicates_path %>.</li>
  </ul>
</div>

<%= form_tag method: :patch do |f| %>
  <table class="table table-striped">
    <thead>
      <th>Predicate URI</th>
      <th>Default Label</th>
      <th>Custom Label</th>
    </thead>
    <tbody>
      <% @global_predicates.each do |gp| %>
        <% cp = @collection_predicates.select{ |cp| cp.uri == gp.uri }.first
           label = cp ? cp.label : nil %>
        <tr>
          <td><%= gp.uri %></td>
          <td><%= gp.label %></td>
          <td><%= text_field_tag "predicate_labels[#{gp.uri}]", label,
                                 class: 'form-control' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
<% end %>
