<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_repository_collections_path %></li>
  <li class="active"><%= truncate(@collection.title, length: 50) %></li>
</ol>

<div class="btn-group pull-right">
  <%= link_to @collection, class: 'btn btn-default' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
  <% if @collection.published %>
    <%= link_to admin_repository_collection_unpublish_path(@collection, repository_collection: { id: @collection.id }),
                method: :patch, class: 'btn btn-default btn-warning' do %>
      <i class="fa fa-times"></i> Unpublish
    <% end %>
  <% else %>
    <%= link_to admin_repository_collection_publish_path(@collection, repository_collection: { id: @collection.id }),
                method: :patch, class: 'btn btn-default btn-success' do %>
      <i class="fa fa-check"></i> Publish
    <% end %>
  <% end %>
  <%= link_to edit_admin_repository_collection_path(@collection), class: 'btn btn-default' do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
  <%= link_to admin_repository_collection_path(@collection), method: 'delete',
              class: 'btn btn-danger',
              data: { confirm: 'Are you sure you want to delete this '\
                      'collection? All of its items will also be deleted.' } do %>
    <i class="fa fa-trash"></i>
    Delete
  <% end %>
</div>

<h1><%= @collection.title %>
  <small><%= pluralize(@collection.num_items, 'item') %></small>
  <% if @collection.subtitle %>
    <br><small><%= @collection.subtitle %></small>
  <% end %>
</h1>

<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#kq-configuration" aria-controls="home" role="tab" data-toggle="tab">Configuration</a>
    </li>
    <li role="presentation">
      <a href="#kq-triples" aria-controls="home" role="tab" data-toggle="tab">Public RDF</a>
    </li>
    <li role="presentation">
      <a href="#kq-repository" aria-controls="home" role="tab" data-toggle="tab">Fedora RDF</a>
    </li>
    <li role="presentation">
      <a href="#kq-index" aria-controls="home" role="tab" data-toggle="tab">Solr JSON</a>
    </li>
  </ul>

  <div class="tab-content">

    <!-- Configuration pane -->
    <div role="tabpanel" class="tab-pane active" id="kq-configuration">
      <dl>
        <dt>Theme</dt>
        <dd>
          <%= @collection.db_counterpart.theme ? @collection.db_counterpart.theme.name :
                      raw("None (has the #{link_to('default theme', admin_db_themes_path)})") %>
          <button type="button" class="btn btn-default btn-xs"
                  data-toggle="modal" data-backdrop="false" data-target="#kq-theme-panel">
            <i class="fa fa-pencil"></i> Edit
          </button>
        </dd>
      </dl>
    </div>

    <!-- Public RDF pane -->
    <div role="tabpanel" class="tab-pane" id="kq-triples">
      <div class="clearfix">
        <div class="btn-group pull-right">
          <%= link_to admin_repository_collection_rdf_predicates_path(@collection),
                      class: 'btn btn-default' do %>
            <i class="fa fa-pencil-square-o"></i> Edit Predicate Labels
          <% end %>
        </div>
      </div>
      <%= triples_to_dl(@collection, full_label_info: true) %>
    </div>

    <!-- Repository pane -->
    <div role="tabpanel" class="tab-pane" id="kq-repository">
      <pre><%= @collection.rdf_graph.dump(:ttl) %></pre>
    </div>

    <!-- Index pane -->
    <div role="tabpanel" class="tab-pane" id="kq-index">
      <pre><%= JSON.pretty_generate(@collection.solr_json) %></pre>
    </div>

  </div> <!-- .tab-content -->

</div> <!-- .tabpanel -->
