<% provide :title, 'New Collection' %>
<% provide :body_id, 'collections_new' %>
<% provide :active_nav, 'collections' %>

<h1>New Collection</h1>

<%= form_for [:admin, @collection], method: :post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :key %>
    <%= f.text_field :key, class: 'form-control', maxlength: f.object.class.max_length(:key)  %>
  </div>
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
