<% provide(:title, 'Items') %>
<% provide(:body_id, 'items_index') %>

<% if @collection %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %>
    <% if @collection.subtitle %>
      <br><small><%= @collection.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<% if @items.total_length > 0 %>
  <p>Showing <%= @start + 1 %>&ndash;<%= @start + @num_results_shown %> of
    <%= @items.total_length %> items</p>
<% else %>
  <p>No items.</p>
<% end %>

<ol start="<%= @start + 1 %>">
  <% @items.each do |item| %>
    <li>
      <div>
        <%= link_to item do %>
          <%= image_tag('', width: 100, height: 100) %>
        <% end %>
        <span class="title"><%= link_to item.title, item %></span>
        <br>
        <span class="description">
          <%= truncate(item.triple('description').to_s, length: 400) %>
        </span>
      </div>
    </li>
  <% end %>
</ol>

<div class="clearfix">
  <%= paginate(@items, @limit, @current_page) %>
</div>

<% if Rails.env.development? %>
  <%= render partial: 'shared/code_panel',
             locals: { title: 'Solr Query',
                       body: link_to(@items.solr_request[:uri],
                                     @items.solr_request[:uri].to_s,
                                     target: '_blank') } %>
<% end %>
