<% provide(:title, 'Items') %>
<% provide(:body_id, 'items') %>

<% if @collection %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %>
    <% if @collection.subtitle %>
      <br><small><%= @collection.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<% if @items.total_length > 0 %>
  <p>Showing <%= @start + 1 %>&ndash;<%= @start + @num_results_shown %> of
    <%= @items.total_length %> items</p>
<% else %>
  <p>No items.</p>
<% end %>

<ol start="<%= @start + 1 %>">
  <% @items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ol>

<%= paginate(@items, @limit, @current_page) %>
