<% provide(:title, 'Items') %>
<% provide(:body_id, 'items_index') %>

<% case session[:browse_context] %>
<% when ItemsController::BrowseContext::BROWSING_COLLECTION %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Collections', collections_path %></li>
    <li class="active"><%= truncate(@collection.title, length: 50) %></li>
  </ol>
<% end %>

<% if @collection %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %>
    <% if @collection.subtitle %>
      <br><small><%= @collection.subtitle %></small>
    <% end %>
  </h1>
<% else %>
  <% provide(:active_nav, 'items') %>
<% end %>

<% if @items.total_length > 0 %>
  <div class="row">
    <div class="col-sm-3 kq-facets kq-panel-facets">
      <%= facets_as_panels(@items) %>
    </div>

    <div class="col-sm-9 kq-results">
      <div class="panel panel-default">
        <div class="panel-body">
          Showing <%= @start + 1 %>&ndash;<%= @start + @num_results_shown %> of
            <%= @items.total_length %> items
        </div>
      </div>

      <ol start="<%= @start + 1 %>">
        <% @items.each do |item| %>
          <li>
            <div>
              <%= link_to item do %>
                <%= image_tag(item.image_url(nil, 100), height: 100) %>
              <% end %>
              <span class="kq-title">
                <%= link_to item.title, item %>
                <% if item.children.any? %>
                  <span class="label label-info kq-page-count">
                    <%= pluralize(item.children.length, 'page') %>
                  </span>
                <% end %>
              </span>
              <br>
              <span class="kq-description">
                <%= truncate(item.triple('description').to_s, length: 400) %>
              </span>
            </div>
          </li>
        <% end %>
      </ol>

      <div class="text-center">
        <%= paginate(@items, @limit, @current_page) %>
      </div>
    </div>
  </div>
<% else %>
  <p>No items.</p>
<% end %>

<% if Rails.env.development? %>
  <%= render partial: 'shared/code_panel',
             locals: { title: 'Solr Query',
                       body: link_to(@items.solr_request[:uri],
                                     @items.solr_request[:uri].to_s,
                                     target: '_blank') } %>
<% end %>
