<% provide :title, @item.title %>

<% case session[:browse_context] %>
  <% when ItemsController::BrowseContext::SEARCHING %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Search', session[:browse_context_url] %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
  <% when ItemsController::BrowseContext::BROWSING_ALL_ITEMS %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All Items', items_path %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
  <% else %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Collections', collections_path %></li>
      <li><%= link_to @item.collection.title, @item.collection %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
<% end %>

<div class="btn-group pull-right">
  <%= link_to item_master_bytestream_url(@item), class: 'btn btn-default' do %>
    <i class="fa fa-download"></i> Download
  <% end %>
</div>

<h1><%= @item.title %>
  <% if @item.subtitle %>
    <br><small><%= @item.subtitle %></small>
  <% end %>
</h1>

<% if @item.is_image? %>
  <%= render partial: 'shared/open_seadragon_viewer',
             locals: { bytestream_owner: @item } %>
<% end %>

<% if @item.parent or @item.children.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Pages</h2>
    </div>
    <div class="panel-body">
      <ol>
        <% if @item.children.any? %>
          <% @item.children.each do |child| %>
            <li><%= link_to child.title, child %></li>
          <% end %>
        <% else %>
          <% @item.parent.children.each do |child| %>
            <li>
              <% if @item == child %>
                <strong><%= child.title %></strong>
              <% else %>
                <%= link_to child.title, child %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Triples</h2>
  </div>
  <div class="panel-body">
    <%= triples_to_dl(@item) %>
  </div>
</div>

<% if Rails.env.development? %>
  <%= render partial: 'shared/code_panel',
             locals: { title: 'Solr JSON',
                       body: JSON.pretty_generate(@item.solr_json) } %>
  <%= render partial: 'shared/code_panel',
             locals: { title: 'Fedora RDF',
                       body: @item.fedora_graph.dump(:ttl) } %>
<% end %>
