<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<% case session[:browse_context] %>
  <% when ItemsController::BrowseContext::SEARCHING %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Search', session[:browse_context_url] %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
  <% when ItemsController::BrowseContext::BROWSING_ALL_ITEMS %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All Items', repository_items_path %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
  <% when ItemsController::BrowseContext::FAVORITES %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Favorites', favorites_path %></li>
      <% if @item.parent %>
          <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
  <% else %>
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Collections', repository_collections_path %></li>
      <li><%= link_to @item.collection.title, @item.collection %></li>
      <% if @item.parent %>
        <li><%= link_to @item.parent.title, @item.parent %></li>
      <% end %>
      <li class="active"><%= truncate(@item.title, length: 50) %></li>
    </ol>
<% end %>

<div class="btn-group pull-right">
  <% if is_favorite?(@item) %>
    <%= link_to favorite_url(@item), class: 'btn btn-danger', method: 'delete' do %>
      <i class="fa fa-heart-o"></i> Remove From Favorites
    <% end %>
  <% else %>
    <%= link_to favorites_url(web_id: @item.web_id), class: 'btn btn-default',
                method: 'post' do %>
      <i class="fa fa-heart"></i> Add To Favorites
    <% end %>
  <% end %>
  <% if @item.master_bytestream %>
    <%= link_to repository_item_master_bytestream_url(@item), class: 'btn btn-default' do %>
      <i class="fa fa-download"></i> Download
    <% end %>
  <% end %>
</div>

<h1><%= @item.title %>
  <% if @item.subtitle %>
    <br><small><%= @item.subtitle %></small>
  <% end %>
</h1>

<%= viewer_for(@item) %>

<% if !@item.full_text.blank? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Full Text</h2>
    </div>
    <div class="panel-body">
      <pre><%= @item.full_text %></pre>
    </div>
  </div>
<% end %>

<% if @item.parent or @item.children.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Pages</h2>
    </div>
    <div class="panel-body">
      <ol>
        <% if @item.children.any? %>
          <% @item.children.each do |child| %>
            <li><%= link_to child.title, child %></li>
          <% end %>
        <% else %>
          <% @item.parent.children.each do |child| %>
            <li>
              <% if @item == child %>
                <strong><%= child.title %></strong>
              <% else %>
                <%= link_to child.title, child %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Descriptive Info</h2>
  </div>
  <div class="panel-body">
    <%= triples_to_dl(@item) %>
  </div>
</div>
