<% provide :title, @item.title %>

<h1><%= @item.title %>
<% if @item.subtitle %>
  <br><small><%= @item.subtitle %></small>
<% end %>
</h1>

<%= link_to 'Download', item_bytestream_url(@item) %>

<h2>Triples</h2>
<%= triples_to_dl(@item) %>

<h2>Fedora JSON-LD</h2>
<%= @item.json_ld_representation %>
