<% provide :title, @item.title %>

<h1><%= @item.title %>
<% if @item.subtitle %>
  <br><small><%= @item.subtitle %></small>
<% end %>
</h1>

<div class="clearfix">
  <div class="pull-right">
    <%= link_to item_bytestream_url(@item), class: 'btn btn-default' do %>
      <i class="fa fa-download"></i> Download
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Triples</h2>
  </div>
  <div class="panel-body">
    <%= triples_to_dl(@item) %>
  </div>
</div>

<% if Rails.env.development? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Solr JSON</h2>
    </div>
    <div class="panel-body">
      <pre><%= JSON.pretty_generate(@item.solr_representation) %></pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Fedora JSON-LD</h2>
    </div>
    <div class="panel-body">
      <pre><%= @item.fedora_json_ld %></pre>
    </div>
  </div>
<% end %>
