<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> |
      <%= DB::Option.string(DB::Option::Key::WEBSITE_NAME) %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright"
          content="<%= DB::Option.string(DB::Option::Key::COPYRIGHT_STATEMENT) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href='http://fonts.googleapis.com/css?family=Oswald|PT+Sans'
          rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
        <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

    <%= hidden_field_tag('kq-root-path', root_path) %>
    <%= hidden_field_tag('kq-root-url', root_url) %>

    <%= render 'layouts/header' %>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#kq-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home', root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="kq-navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="collections-nav">
              <%= link_to repository_collections_path do %>
                <span class="fa fa-folder-open"></span> Collections
              <% end %>
            </li>
            <li class="dropdown" id="items-nav">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-expanded="false">
                <span class="fa fa-cube"></span> Items<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "All Items (#{@num_items})", repository_items_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Images (#{@num_images})",
                                repository_items_path(q: 'kq_system_media_type:image/*') %></li>
                <li><%= link_to "Videos (#{@num_videos})",
                                repository_items_path(q: 'kq_system_media_type:video/*') %></li>
                <li><%= link_to "Sound Recordings (#{@num_audios})",
                                repository_items_path(q: 'kq_system_media_type:audio/*') %></li>
              </ul>
            </li>
            <li id="favorites-nav">
              <%= link_to favorites_path do %>
                <span class="fa fa-heart"></span>
                My Favorites
                <span class="badge kq-favorites-count"><%= num_favorites %></span>
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li id="search-nav">
              <%= link_to 'Advanced Search', search_path %>
            </li>
            <form method="get" action="<%= repository_items_path %>"
                  class="navbar-form navbar-right kq-quick-search" role="search">
              <div class="input-group">
                <%= search_field_tag :q, params[:q], class: 'form-control input-sm',
                                     placeholder: 'Search Digital Collections' %>
                <span class="input-group-btn">
                  <button type="submit" value="Search" class="btn btn-default btn-sm">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>

          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

      <% flash.each do |type, message| %>
        <div class="kq-flash alert alert-dismissable <%= bootstrap_class_for(type) %>">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">&times;</button>
          <%= message %>
        </div>
      <% end %>

      <div id="kq-page-content">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
